.tw-follow-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-follow-card-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-follow-card-info {
    display: flex;
    flex-direction: column;
}

article header span {
    opacity: .6;
}

.tw-follow-card-img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-follow-card-btn {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px #000;
    transition: .3s ease background-color;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tw-follow-card-btn:hover {
    background-color: #09f;
    transition: .3s ease background-color;
}

.tw-follow-card-btn.following {
    border: 1px #fff;
    background: #000;
    color: #fff;
}

.tw-follow-card-btn.following:hover {
    background-color: rgb(96, 0, 0);
    color: red;
}